html {
    font-family: 'Montserrat', sans-serif;
}

.btn-ml {
    margin: 10px;
}
.btn-ml-50 {
    margin-left: 25px;
}

/* Main.index.cards  */
.itembox {
    border-right: rgb(172, 172, 172) solid 1px;
}

.select_item {
    padding: 20px 50px 20px;
    margin-bottom: 20px;
    border-bottom: rgb(172, 172, 172) solid 1px;
    margin-left: 50px;
}
.wraper {
    height: 550px;
    width: 500px;
    overflow-y: scroll;
    padding-right: 5px;
    margin-left: auto;
}

.shadow-sm {
    margin-bottom: 30px;
    border-radius: 15px;
}

.page {
    max-height: 100vh;
    height: 100%;
}

.image_item{
    width: 100%;
    height:250px;
    border-radius: 25px;

    border:15px solid transparent;
}

.card-title {
    font-size:20px
}

.card-title a {
    color: #6c757d;
}
 /* moderations */

.btn-view {
    width: 70px;
}

.vanaudie-ncesacos {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
.kobndam-eneaks {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 20px;
    align-items: center;
    font-size: 25px;
    background: #072cbe;
    box-shadow: 4px 8px 5px 0 rgba(0, 0, 0, .5);
  }
  
.sonstan-cemaben {
    padding: 20px 20px;
    color: white;
  }
  
.cesempa-vadekob {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: #020088;
    color: white;
  }

.anons_article {
    margin-right: 50px;
    color: white;

    text-decoration: none;
}

.anons_article:hover {
    color:rgb(222, 222, 222);
    text-decoration: underline;
}

.news_articles {
    color: white;


}


.news_article_1 {
    color: #3456dc;
    text-decoration: none;
    font-weight: 600;

}

.form_com_width {
    max-width: 700px;
}

.main_title {
    color: #3456dc;
    font-weight: 600;
    margin-right: auto;
}